.bg-col{
	background-color: rgba(63,173,168,0.8); 
}

.text-size{
	font-size: 200;
}

.tooltip-inner {
  background-color: #00acd6 !important;
  color: #fff;
}

.tooltip .tooltip-arrow {
  border-top: 20px #00acd6 !important;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
}
.footer{
    position: relative;
    bottom: 0;
    min-width: 100%;
    padding: 1rem;
}

img.pics{
	height:auto;
	width:auto;
	max-width: 100%;
	max-height: 100%;
}
