@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap');

html,body{
    margin: 0;
    padding:0;
    height: 100%;
    width:100%;
}

.intro{
    background: linear-gradient(120deg,#fff 25%,#eee 50%,#fff 100%);
    height: 100%;
    width: 100%;
    display: table;
    top:0;
    margin:auto;
    font-family: 'Roboto';
    font-weight: 300;
    padding-top:40vh;
    text-align: center;
    -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}


#title-first {
    
    font-size:50px;
    /* background: pink; */
    overflow: hidden;
    white-space: nowrap;
    color:black;
    display: inline-block;
    /* background: white; */
    animation:showup 7s infinite;
    height: 80px;
}

#title-second {
    height: 80px;
    font-size:50px;
    /* background: purple; */
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width:0px;
    animation: reveal 7s infinite ;
}

#title-second div{
    margin-left:-400px;
    font-size:50px;
    animation: slidein 7s infinite;
}


#landing-subtitle{
    /* background: purple; */
    font-size:25px;
    font-weight: 300;

    background: linear-gradient(to right,#bbb 20%,#888 40%,#bbb 60%,#888 80%);
    background-size: 200% auto;

    color:#000;
    background-clip: text;
    text-fill-color:#0000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;

    animation: shine 4s infinite linear;

   
}

@keyframes shine {
    to {
        background-position:200% center;
    }
}

.nav-link{
    font-family: 'Roboto';
    font-size:15px;
    font-weight: 400;
}

.fixed-top{
    background-color: #0000;
    transition: background-color 200ms linear;
}

.fixed-top.scrolled{
    background-color: #fff;
    transition: background-color 200ms linear;
}

@keyframes showup{
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein{
    0%{margin-left: -800px;}
    20%{margin-left: -800px;}
    35%{margin-left:0px}
    100%{margin-left:0px}
}

@keyframes reveal{
    0%{opacity: 0;width: 0px;}
    20%{opacity: 1; width:0px;}
    30%{width: 400px;}
    80%{opacity: 1;}
    100%{opacity: 0;width:400px;}
}



/* Events */
.heading {
    height: 15vh;
    position: relative;
    font-family: 'Roboto';
    font-size: 4em;
    font-weight: 300;
    margin-bottom: 30px;
}

.heading p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mcard{
    /* background: red; */
    width:80vw;
    /* display: flex; */
    height: 200px;
    margin:auto;
    margin-bottom: 70px;
    box-shadow: 5px 5px 10px #777;
}

.mcard img{
    width:200px;
    margin:0 50px;
    /* background: purple; */
}

.pic{
    width:200px;
}

.mcard-text{
    padding-left:20px;
    padding-right:20px;
    font-family: 'Roboto';
    
}

.mcard h5{
    font-size: 3em;
    font-weight: 300;
}

.mcard td{
    height:100px;
}

.mcard b{
    font-size: 1.3em;
    color:#999;
    text-decoration: none;
    font-weight: 400;
}


.home-text {
    font-family: 'Roboto';
    font-size:1em;
}

